$base: #eff1f5;
$text: #4c4f69;
$accent: #8839ef;
$bg-menu: rgba(239, 241, 245, 0.7);

@import "./nexus/eww.scss";


* {
    font-family: "UbuntuMono Nerd Font", sans-serif;
    background-color: transparent;
    color: $text;
    transition: all 0.3s ease;
    font-size: 18px;
}


.bar {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 15px;
    border-radius: 12px;
}


.menu {
    color: blue;
    padding: 0 8px;
    border: none;
}


.ram {
    padding-right: 12px;
    font-weight: bold;
}

.work label {
    font-size: 15px;
    color: $text;
    margin: 2px 4px;
}

.workspace-container {
    background-color: $bg-menu;
    border-radius: 12px;
    border: 1px solid $accent;
}
