@import "sysinfo/eww";

.nexus {
    label {
        padding-left: 5px;
    }

    &:hover label {
        color: $yellow;
    }
}

.nexus-container,
.daytime-container,
.slider-container,
.music-container,
.profile-container,
.quick-launch,
.power-container {
    background-color: rgba($crust, 0.5);
    border: 2px solid $mauve;
    border-radius: 15px;
    //margin: 1px;
    padding: 10px;
}

.nexus-container {
    margin: 2px;
}

.artis,
.music-timer,
.main-title {
    margin: 6px 8px 5px 10px;
    font-weight: 400;
}

.mico {
    font-size: 20px;
}


.music-thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    min-height: 6rem;
    min-width: 6rem;
}

.music-slider,
.brightness-slider,
.volume-slider {
    trough {
        min-height: 6px;
        min-width: 200px;
        background-color: $overlay0;
        border-radius: 10px;

        highlight {
            background-color: $subtext1;
            border-radius: 10px;

        }

        slider {
            min-width: 15px;
            min-height: 15px;
            background-color: $base;
            border-radius: 50%;
            margin: -4px;

            &:hover {
                background-color: $peach;
            }
        }
    }
}

.music-slider {

    padding: 5px;

    trough {
        min-height: 1px;
    }
}


.slider-container label {
    font-size: 20px;
    color: $text;
    padding: 0 10px;
}

.music-button *:hover label,
.quick-launch *:hover label,
.power-container *:hover label {
    color: $overlay2;
}

.close-btn {
    color: $red;
    padding-left: 20px;
}

.btn-container {
    color: yellow;
}