.work {
    label {
        font-size: 15px;
        //background-color: $text;
        margin: 2px 4px;

    }

}

.workspace-container {
    background-color: $crust;
    border-radius: 12px;
    border: 1px solid $lavender;
}

.workspace-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 10rem;
    min-height: 5rem;
    margin: 5px;
    padding: 10px;
}